@use '_Variables' as *;
@use '_Globals' as *;
@use '_Clock';
@use '_Weather';
@use '_Kantine';
@use '_Schedule';
@use '_Bustider';
* { box-sizing: border-box; }
html, body { 
  height: 100vh; 
  overflow: hidden;
}
body { margin: 0; font-family: $font; color: $ink; background: $white; }

.dashboard {
  display: grid;
  grid-template-columns: $aside-width 1fr;
  height: 100vh;
  overflow: hidden;
}

.aside {
  position: relative;
  background: url('../images/VejrPexels.png') center/cover no-repeat;
  color: $white;
  padding: 18px 18px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: $aside-width;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0;
    width: 2px;
    background: rgba(255,255,255,.7);
  }
}

.main {
  background: $white;
  padding: 18px 22px 26px;
  overflow: hidden;
}
